<header>
    <div class="no-space">
        <div class="logo">
            Health Guardian
        </div>

        <div class="vertical-align">
            <p>Suivi de santé</p>
            <p>Bientôt disponible en français</p>
        </div>
    </div>

    <div class="no-space">
        <form action="#" class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
        </form>

        <nav>
            <a href="#">SignUp</a>
            <a href="#">Login</a>
            <a href="#">Contact</a>
        </nav>
    </div>
</header>