{% load static %}
<!doctype html>

<html lang="en" data-bs-theme="auto">

<head>
  <title>HealthGardian</title>
  <!--
  <link rel="stylesheet" href="{% static 'styles.css' %}"> 
  
  <script src="static/js/ecg-webcomponent.js"></script>
  
  -->
  {% include 'LockedHeader.html' %}

</head>

<body>


  <div>
    <script>
      (function () {
        document.body.innerHTML += '<ecg-line></ecg-line>';
        ecgLine((bang) => setInterval(() => bang(), 5000));
      })();
    </script>
  </div>
  <script src="static/js/Ecg-webcomponent.js"></script>



</body>

</html>